<div class="row">
  <div class="col-md-10 col-xs-12">
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("aliases.attribs.mail") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @alias.mail %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 col-xs-12 text-md-right font-weight-bold"><%= t("aliases.attribs.maildrop") %>:</div>
      <div class="col-md-8 col-xs-12"><%= @alias.maildrop_as_string %></div>
    </div>
  </div>
</div>
