<%  breadcrumb_items = []
    unless current_page?(root_path)
      breadcrumb_items.push({name: t('actions.home'), title: t('actions.home-title'), url: root_path})
    end
    if @domain
      breadcrumb_items.push({name: t('domains.menu'), title: t('domains.menu-title'), url: domains_path})
      if @alias || @aliases || @person || @people
        breadcrumb_items.push({name: @domain.id, title: t('domains.actions.show')%[@domain.id], url: domain_path(@domain.id)})
      end
      if @alias
        breadcrumb_items.push({name: t('domains.mail-aliases'), title: t('domains.actions.aliases')%[@domain.id], url: domain_aliases_path(@domain.id)})
      elsif @person
        breadcrumb_items.push({name: t('domains.people'), title: t('domains.actions.people')%[@domain.id], url: domain_people_path(@domain.id)})
      end
    end
%>

<% unless breadcrumb_items.blank? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% breadcrumb_items.each do |item| %>
        <li class="breadcrumb-item">
          <%= link_to item[:name], item[:url], title: item[:title]||item[:name] %>
        </li>
      <% end %>
      <% unless !defined?(@current_page) || @current_page.blank? %>
        <li class="breadcrumb-item active" aria-current="page"><%= @current_page %></li>
      <% end %>
    </ol>
  </nav>
<% end %>
